@using OnStage.Presentation.CompositionRoot.Infrastructure.Extensions;

<header class="navbar navbar-fixed-top">
    <div class="navbar-inner"><div class="container">
        @Html.ActionLink("OnStage", "Index", "Home", null, new { @class = "brand" })
        <ul class="nav">
            @Html.HeaderActionLinkLi("Run Show", "Index", "Show")
            @Html.HeaderActionLinkLi("Create Show", "Create", "Show")
        </ul>
    </div></div>
</header>