.overflow-ellipse {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
html,
body {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.content {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}
.cuelist-container {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #555555;
}
.cuelist-container ul.cue-controls {
  list-style-type: none;
  margin: 0;
  position: absolute;
  top: 5px;
  right: 5px;
}
.cuelist-container ul.cue-controls > li {
  display: inline-block;
}
.cuelist-container ul.cue-controls > li .cue-control {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 24px;
  margin-left: 8px;
}
.cuelist-container ol.cue-list {
  list-style-type: none;
  margin: 0;
}
.cuelist-container ol.cue-list > li {
  cursor: hand;
  cursor: pointer;
  position: relative;
  padding: 5px 10px;
}
.cuelist-container ol.cue-list > li .cue-name,
.cuelist-container ol.cue-list > li .cue-description {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cuelist-container ol.cue-list > li .cue-name {
  font-weight: bold;
  margin-right: 91px;
  height: 22px;
}
.cuelist-container ol.cue-list > li .cue-description {
  color: #555555;
  font-size: 10.5px;
}
.cuelist-container ol.cue-list > li:nth-child(odd) {
  background-color: #eeeeee;
}
.cuelist-container ol.cue-list > li.finished {
  color: #999999;
  text-decoration: line-through;
}
.cuelist-container ol.cue-list > li.finished .cue-description {
  color: #999999;
}
.cuelist-container ol.cue-list > li.standby {
  background-color: #f2dede;
}
.cuelist-container ol.cue-list > li.warning {
  background-color: #fcf8e3;
}
.cuelist-container ol.cue-list > li.go {
  background-color: #dff0d8;
}
.cuelist-container ol.cue-list > li.go .cue-name {
  font-style: italic;
}
.cue-details {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  border: 1px solid #555555;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow-y: auto;
}
.cue-details .details-header {
  font-size: 17.5px;
  font-weight: bold;
  margin: -10px -10px 0;
  padding: 10px;
}
.cue-details .details-header.stage-manager {
  background: #d9edf7;
}
.cue-details .details-header.standby {
  background: #f2dede;
}
.cue-details .details-header.warning {
  background: #fcf8e3;
}
.cue-details .details-header.go {
  background: #dff0d8;
}
.cue-details .cue-header {
  margin-top: 6px;
  font-weight: bold;
}
.cue-details .cue-description {
  margin-top: 4px;
}
.cue-details .subcue-header {
  margin-top: 12px;
}
.cue-details .sub-cues {
  margin-top: 2px;
}
.script-viewer-container {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.script-viewer-iframe {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #555555;
  width: 100%;
  height: 100%;
}
#stageManagerRun #content-inner {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: -webkit-calc(100% - 60px);
  height: -moz-calc(100% - 60px);
  height: calc(100% - 60px);
  padding-bottom: 20px;
}
#stageManagerRun #content-inner [class^=span] {
  height: 100%;
}
#stageManagerRun #scriptViewer {
  height: 60%;
}
#stageManagerRun #bottomRow {
  height: -webkit-calc(40% - 20px);
  height: -moz-calc(40% - 20px);
  height: calc(40% - 20px);
  margin-top: 20px;
}
#stageManagerRun #bottomRow [class^=span] {
  height: 100%;
}
