#stageManagerRun {
	#content-inner {
		@heightFix: (@baseLineHeight * 2) + 20px;
		.box-sizing(border-box);
		.height-calc(~"100% - @{heightFix}");
		padding-bottom: 20px;

		[class^=span] {
			height: 100%;
		}
	}

	#scriptViewer {
		height: 60%;
	}

	#bottomRow {
		@heightFix: 0.02127659574468085 * 940px;
		.height-calc(~"40% - @{heightFix}");
		margin-top: @heightFix;

		[class^=span] {
			height: 100%;
		}
	}

	.connected-crew {
		display: inline-block;
		list-style-type: none;
		float: right;
		font-size: @baseFontSize;
		font-weight: initial;
		margin: 0;

		.crew-member {
			display: inline-block;
			padding: 0;

			&:after {
				content: ', ';
			}

			&:last-child:after {
				content: '';
			}
		}

		&:before {
			content: '[ ';
		}

		&:after {
			content: ' ]';
		}
	}
}