@model OnStage.Entities.Show

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

<p>@Model.Description</p>

<p>@Html.ActionLink("Stage Manager", "Run", "StageManager", new { id = Model.StageManagerCueBook.Id }, null)</p>

<p>Cue Books</p>

<ul>
@foreach (var cb in Model.CueBooks)
{
    <li>@Html.ActionLink(Html.DisplayFor(m => cb.Name).ToHtmlString(), "Run", "CueBook", new { id = cb.Id }, null)</li>
}
</ul>