@model IEnumerable<OnStage.Entities.Show>

@{
    ViewBag.Title = "Shows";
}

<h2>Shows</h2>

<table class="table table-bordered table-striped">
<thead>
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(Html.DisplayFor(mi => item.Title).ToHtmlString(), "Details", new { id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(mi => item.Description)
        </td>
    </tr>
}
</tbody>
</table>
